body{
	background-color: #2E3440;
	margin:0;
	font-family:'Helvetica Neue', sans-serif;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 50%;
	transition: background 0.3s;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

h1{
	color: #ECEFF4;
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	background: #5E81AC;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

#stripe{
	background-color: #ECEFF4;
	height: 30px;
	text-align: center;
}

.selected{
	color:#ECEFF4;
	background: #5E81AC;
}

#colorDisplay{
	font-size: 200%;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: #5E81AC;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

#message{
	display: inline-block;
	width: 10%;
}

button:hover{
	color:#ECEFF4;
	background: #5E81AC;
}